[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"
bcrypt = "*"
flask-jwt-extended = "*"
flask-cors = "*"
flask-migrate = "*"
flask-mail = "*"
flask-socketio = "*"
simple-websocket = "*"
python-dateutil = "*"
gunicorn = "*"
psycopg2 = "*"
sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.4"

[scripts]
build = "cd .. && cd frontend && npm install && npm run build && cd .. && cd Backend && pip install -r requirements.txt"
start = "flask --app src/app.py run --host=0.0.0.0 --port=10000"
