[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"
bcrypt = "*"
flask-jwt-extended = "*"
flask-cors = "*"
flask-migrate = "*"
flask-mail = "*"
flask-socketio = "*"
simple-websocket = "*"
python-dateutil = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.4"

[scripts]
build = "cd .. && cd frontend && npm install && npm run build && cd .. && cd Backend && pipenv install"
start = "pipenv shell && gunicorn app:app"
