.main_layout {
  background-color: whitesmoke;
  width: 70rem;
  min-height: 35rem;
  border-radius: 40px;
  box-shadow: 0 0 1.2rem white;
  color: #063254;
  display: flex;
  flex-direction: column;
}

.horoscope_cards {
  background-color: #008cff39;
  width: 15rem;
  height: 12rem;
}

.cards_father {
display: flex;
flex-direction: row;
gap: 10px;
flex-wrap: wrap;
justify-content: center;
margin-bottom: 2rem;
}

@media(min-width:768px) {
  
}