.container_div{
  padding: 1rem;
  margin: 1rem 0;
  box-shadow: 0 0 1.2rem white;
  border: 2px solid #ffffff70;
  display: flex;
  flex-direction: column;
  color: #063254;
  background-color: whitesmoke;
  border-radius: 40px;
  min-width: 100%;
}
@media screen and (min-width: 1000px) {
  .container_div{
    min-width: 55rem;
  }
}

.header_container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  border-bottom: 2px solid #063254;
}
.gear_icon{
  font-size: 1.8rem;
}


.form_body{
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.sub_title{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}

.form_div{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex-grow: 1;
  
  min-width: 16rem;
}
.form_card {
  padding: 1rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
  justify-content: space-around;

  min-height: 100%;
  background-color: #008cff39;
  border-radius: 0.56rem;
}


.input_error,
select.input_error{
  border: 2px solid rgb(169, 0, 0);
  background-color: rgba(255, 1, 1, 0.26);
}
.error_text,
select.error_text{
  position: absolute;
  margin: 0;
  font-size: 0.9rem;
  color: rgb(192, 0, 0);
}


.form_card_aside {
  padding: 1rem;
  flex-grow: 1;
  display: flex;
  align-items: center;
  flex-direction: column;

  background-color: #008cff39;
  border-radius: 0.56rem;
}

.foto_preview{
  margin-bottom: 0.5rem;
  border-radius: 10px;
  max-height: 13rem;
  max-width: 14rem;
  flex-grow: 1;
  overflow: hidden;
}
.img_foto{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.textarea{
  padding: 0.4rem;
  border: 1px solid #063254;
  border-radius: 10px;
  outline: none;
  resize: none;
  flex-grow: 1;
  min-width: 100%;
  min-height: 9rem;
}


.submit_button{
  background-color: #063254;
  color: white;
  border-radius: 25px;
  width: 7rem;
  height: 2.5rem;
  font-weight: 500;
  transition: 0.5s;
}
.submit_button:hover{
  border: 1px solid white;
  background-color: #195989;
  box-shadow: 0 0 1rem #063254;
}


