.general_div{
    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 1.2rem white;
    border: 2px solid #ffffff70;
    width: 100%;
    border-radius: 40px;
    overflow: hidden;
}


.loading{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #0e4d7d50;

    display: flex;
    justify-content: center;
    align-items: center;
}
.hide_loding{
    position: absolute;
    transform:scale(0);
}



.about_me{
    position: absolute;
    background-color: #ddf0ffde;
    height: 100%;
    width: 100%;
    color: #063254;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: 0.4s;
}
.close_about_me{
    position: absolute;
    top: 0;
    left: 0;

    margin: 1rem;
    font-size: 2.5rem;
    transition: 0.4s;
}
.close_about_me:hover{
    color: rgb(107, 0, 0);
    transform: scale(1.1);
}
.hide{
    position: absolute;
    transform:translateY(100%);
}


.icons_favorite{
    position: absolute;
    top: 0;
    right: 0;
    margin: 1.5rem;
    font-size: 2rem;
    color: #063254c1;
    transition: transform 0.4s; 
}
.icons_favorite:hover{
    transform: scale(1.2);
    color: rgb(136, 118, 0);
}



.img_div{
    width: 100%;
    height: 24rem;
}
.img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.interactive_div{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #e6e7e8fa;
    padding: 0.5rem 0;
}
.user_name{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}
.user_distance{
    display: flex;
    align-items: center;
    margin-bottom: 0;
}
.icons_location{
    font-size: 1.4rem;
    margin-right: 0.3rem;
}



.icons_div{
    display: flex;
    justify-content: space-around;
    color: #063254;
    font-size: 2.5rem;
}
.icons_like_div{
    transition: transform 0.3s; 
}
.icons_like_div:hover{
    color: rgb(0, 107, 2);
    transform: scale(1.2);
}
.icons_dislike_div{
    transition: transform 0.3s; 
}
.icons_dislike_div:hover{
    color: rgb(105, 0, 0);
    transform: scale(1.2);
}


.first_infodiv{
    color: white;
    background: linear-gradient(to right, #4b79a1, #283e51);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    padding-bottom: 0.4rem;
}

.button_div{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding-top: 0.5rem;
}
.modal_button{
    color: white;
    background-color: #063254;
    border: 1px solid transparent;
    border-radius: 25px;

    width: 7rem;
    height: 2.5rem;
    font-weight: 500;
    transition: 0.5s;
}

.modal_button:hover{
    border: 1px solid white;
    background-color: #195989;
    box-shadow: 0 0 1rem #063254;
}



.name_zodiac_div{
    display: flex;
    flex-direction: column;
}

.symbol_div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.symbol{
    font-size: 2rem;
}

.sign{
    margin-bottom: 0.2rem;
}

.modal_info{
    background-color: #e8e6e6fa;
}

.modal_last{
    box-shadow: 0 0 1.2rem white;
    border: 2px solid #ffffff70;
    color: #063254;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 6rem;
}

@media(min-width:768px) {
    .general_div{
        max-width: 517px;
    }
}
