body {
  background-image: url("../public/assets/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #00000025;
}

.container{
  flex-grow: 1;
}

